{% extends 'base.html' %}

{% block css %}
      input[type="text"] { border:none; margin:0px; margin:0px 7px; background:transparent; width:200px }
{% endblock %}

{% block body %}
<h1>&rarr;&larr;</h1>

<p>&rarr;<input id="s" type="text" value="{{url_for('redirect', short=short, _external=True)}}"/>&larr;</p>

<p>Just hit &#8984;-C to copy your short URL.</p>
{% endblock %}

{% block scripts %}
{% include 'jquery' %}
<script type="text/javascript">
  $(document).ready(function(){$('#s').focus();});
</script>
{% endblock %}
